
/* style any "h1" element */
h1 {
    color: red;
}

/* style any "p" element */
p {
    color: blue;
}

/* Styles any element with the class: content-container (notice the . that's needed at the beginning */
.content-container {
    padding: 50px;
    border: 2px solid red;
}